* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  font: inherit;
  background-color: darkslategray;
}

body {
  background-color: darkslategray;
  padding: 2rem 4rem;
  font-size: 1.2rem;
  color: rgb(24, 24, 24);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;

  display: grid;
}
.heading {
  color: bisque;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  margin-bottom: 1.5rem;
}
.heading .title {
  font-size: 3rem;
}
#addBookbtn {
  width: 15rem;
  height: 4rem;
  border-radius: 7px;
  color: white;
  font-weight: 600;
  border: 2px solid bisque;
}
#addBookbtn:hover {
  background-color: rgba(255, 228, 196, 0.233);
}
.title {
  font-size: 2rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 1rem;
}

.book {
  display: grid;
  grid-template-rows: auto auto 1fr 50px 50px;
  height: 380px;
  background-color: bisque;
  border-radius: 10px;
  padding: 2rem;
  gap: 1rem;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
}
.status {
  width: 100%;
}
button {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  border: none;
  color: white;
  font-weight: 600;
}
.remove button:hover {
  background-color: rgb(207, 24, 55);
}
input {
  margin-right: 0.6rem;
}
.numOfPages {
  display: flex;
  gap: 0.6rem;
}
::backdrop {
  background-color: rgba(54, 54, 54, 0.521);
}
dialog {
  margin: auto;
  padding: 5rem 10em;
  background-color: bisque;
  border-radius: 10px;
}
.status button:hover {
  background-color: rgb(139, 138, 138);
}
form {
  display: grid;
  gap: 1rem;
}
form div {
  gap: 0.5rem;
  display: grid;
}
form input[type="text"],
form input[type="number"] {
  border-radius: 5px;
  border: 1px solid rgb(112, 112, 112);
  height: 2rem;
  width: 20rem;
  padding-left: 0.5rem;
  font-size: 1rem;
}
form input[type="submit"] {
  width: 10rem;
  height: 2.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

form div:last-child {
  justify-self: center;
  margin-top: 1.5rem;
}
.checkbox {
  display: flex;
}
